.hospitalpage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.topbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-dimgray);
  padding-right: 20px;
  background-color: var(--color-white);
  height: 87px;
}
.topbar_navi {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0px;
}
.wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightpink);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  position: absolute;
  right: 125px;
  top: 27px;
}
.logo_icon {
  width: 160px;
  height: 45px;
  object-fit: cover;
  margin-left: 20px;
}
.topbar_total,
.topbar_hospital,
.topbar_doctor {
  font-weight: 600;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-black);
}
.topbar_total,
.topbar_doctor {
  text-decoration: underline solid #ffffff;
}
.topbar_total {
  position: absolute;
  right: 250px;
  top: 37.5px;
}
.topbar_doctor {
  position: absolute;
  right: 50px;
  top: 37.5px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 87px;
}
.hospital_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  width: calc(100% - 450px);
  padding: 0 20px;
  overflow-x: auto;
}
.hospital_list_scrollview {
  width: 700px;
  height: 350px;
  overflow-y: auto;
  margin-bottom: 50px;
  border-bottom: 5px solid gray;
}
.hospital_list_scrollview::-webkit-scrollbar {
  display: none;
}
.hospital_list_search_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}
.hospital_list_search_inputgroup {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-gainsboro);
  height: 40px;
  width: 100%;
  padding-left: 10px;
}
.hospital_list_search_inputbox {
  font-size: 22px;
  color: #222222;
  border: none;
  width: 500px;
  padding-left: 20px;
  position: relative;
  bottom: -5px;
  background: none;
}
.hospital_list_search_inputbox::placeholder {
  color: var(--color-gainsboro);
}
.hospital_list_search_button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: var(--color-royalblue);
  color: var(--color-white);
  width: 87px;
  border-radius: var(--br-3xs);
  font-size: var(--font-size-sm);
  font-weight: 550;
  margin-left: 10px;
}

.icon {
  position: relative;
  top: 3px;
}
