.component23Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-40xl);
  background-color: var(--color-whitesmoke);
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 36.77%;
  width: 39.01%;
  top: 16.55%;
  right: 32.64%;
  bottom: 46.68%;
  left: 28.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 19.11%;
  width: 15.28%;
  top: 46.5%;
  right: 29.94%;
  bottom: 34.38%;
  left: 54.77%;
}
.div {
  position: absolute;
  height: 8.38%;
  width: 33.71%;
  top: 79.73%;
  left: 33.14%;
  font-weight: 600;
  display: inline-block;
}
.component23 {
  position: absolute;
  top: 469px;
  left: 973px;
  width: 309px;
  height: 326px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
